html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
	font-size: 1.4rem;
	color: #000;
}

header {
	background: #0ACE99;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 0;
}

header .logo-container {
	padding-top: 5px;
}

header img {
	width: 100px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	background: #0ACE99;
	
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
}

main {
	padding: 100px;
}
form input {
	display: flex;
}

footer.main {
	background-color: #4dff00;
	text-align: center;
	padding: 5px;
}

footer.main p {
	font-size: 15px;
}